
[submodule "lib/munit"]
	path = lib/munit
	url = git@github.com:nemequ/munit.git
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "lib/lv_drivers"]
	path = lib/lv_drivers
	url = git@github.com:lvgl/lv_drivers.git
